<h1>Quadratic Formula Calculator</h1>
<form action="/quadratic_results">
  <div>
    <label for="coefficient_a_input">
      a =
    </label>

    <input id="coefficient_a_input" text="text" name="a_value" placeholder="coefficient a">
  </div>
<br>
  <div>
    <label for="coefficient_b_input">
      a =
    </label>

    <input id="coefficient_b_input" text="text" name="b_value" placeholder="coefficient b">
  </div>
<br>
  <div>
    <label for="coefficient_c_input">
      a =
    </label>

    <input id="coefficient_c_input" text="text" name="c_value" placeholder="coefficient c">
  </div>
  <br>
<button>
    Clear
  </button>
  <br>
  <button>
    Calculate
  </button>
  <br><br>
  <div>
    <label for="answer">
      Answer:
    </label>

    <input id="answer" text="text" name="result">
  </div>
</form>
